<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TexiCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38BB7C5B1ED28D3E0067222C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38BB7C6F1ED28D3F0067222C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38BB7C7A1ED28D3F0067222C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
